@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: Poppins;
    /* padding-inline: 20px; */
}

nav{
    background-color: black;
    display: flex;
    padding-inline: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .left-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .left-nav img{
    height: 40px;
}

nav .right-nav a{
    background-color: #eb374e;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

nav .right-nav a:hover{
    background-color: #d12038;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: #eb374e;
}

nav .right-nav .icon{
    display: none;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-container{
    background-color: #dedede;
    width: 500px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 15px gray;
    margin: auto;
}

.form-container input{
    width: 90%;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 6px;
}
.form-container textarea{
    width: 90%;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 6px;
    height: 150px;
}

.send-mail button{
    font-size: 14px;
    padding: 8px 20px;
    background-color: #eb374e;
    border: none;
    border-radius: 8px;
    color: white;
    width: 100%;
}

.send-mail button:hover{
    background-color: #d12038;
}

@media screen and (max-width:768px) {
    nav{
        padding-inline: 16px;
    }
    
    nav .left-nav{
        gap: 16px;
        align-items: center;
    }

    nav .left-nav img{
        height: 24px;
    }

    nav .right-nav a{
        display: none;
    }

    nav .right-nav .icon{
        display: block;
        background-color: black;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    nav .right-nav .icon:hover{
        background-color: black;
    }

    .material-symbols-outlined:hover{
        color:#d12038;
    }
    .personal {
        display: flex;
        flex-direction: column;
        padding-inline: 16px;
    }

    .personal .left{
        display: flex;
        justify-content: center;
    }

    .card{
        max-width: fit-content;
    }

    .personal .right h1,h2, .skill, .social{
        display: flex;
        justify-content: center;

    };
}