@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: Poppins;
    /* padding-inline: 20px; */
}

nav{
    background-color: black;
    display: flex;
    padding-inline: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .left-nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
}

nav .left-nav img{
    height: 40px;
}

nav .right-nav a{
    background-color: #eb374e;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

nav .right-nav a:hover{
    background-color: red;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: #eb374e;
}

nav .right-nav .icon{
    display: none;
}

.blog{
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.blog-list{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.blog .blog-list .blog-image img{
    width: 400px;
}

.blog .blog-list .blog-list-item{
    display: flex;
}

.blog .blog-list .blog-content{
    margin-left: 24px;
}

.blog .blog-list .blog-list-item .blog-content{
    text-align: justify;
}

.blog .blog-form{
    width: 25%;
}

.blog .blog-form .form-container{
    background-color: #dbdbdb;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.blog .blog-form .form-container form h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.blog .blog-form .form-container form input, textarea, .input-blog-image-group {
    width: 95%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    background: white;
    /* border: 1px solid grey; */
    border: none;
    border-radius: 6px;
}

.blog .blog-form .form-container form button{
    margin-top: 16px;
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 8px;
    background-color: #eb374e;
    color: #fff;
    font-weight: 600;
    border: none;
    width: 99%;
}

.blog .blog-form .form-container textarea{
    height: 150px;
}

.blog .form-container form .input-blog-image-group label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .blog-form .form-container form button{
    background-color: #d12038;
    color: white;
    font-weight: 700;
}

.blog .blog-form .form-container form button:hover{
    color: white;
}

@media screen and (max-width:768px) {
    nav{
        padding-inline: 16px;
    }
    
    nav .left-nav{
        gap: 16px;
        align-items: center;
    }

    nav .left-nav img{
        height: 24px;
    }

    nav .right-nav a{
        display: none;
    }

    nav .right-nav .icon{
        display: block;
        background-color: black;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    nav .right-nav .icon:hover{
        background-color: black;
    }

    .material-symbols-outlined:hover{
        color:#d12038;
    }

    .blog {
        display: flex;
        flex-direction: column-reverse;
        padding-inline: 8px;
        justify-content: center;
        padding-bottom: 16px;

    }

    .blog .blog-list{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .blog .blog-list .blog-list-item{
        display: flex;
        flex-direction: column;
    }

    .blog .blog-form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .blog .blog-form .form-container{
        width: 70%;
    }

    .blog .blog-list .blog-list-item .blog-image{
        display: flex;
        justify-content: center;
    }
    
    .blog .blog-list .blog-list-item .blog-content{
        margin: 0;
        padding-inline: 8px;
    }
    
}